{% extends '/musics/musiclayout.html.twig' %}

{% block title %}
TinyJukebox - Music {{ music.name }}
{% endblock %}
{% block body %}
    <h1 class="text-center display-2 musicTitle">{{ music.name }}</h1>
    <h2 class="display-5"><a data-musicname="{{ music.name|url_encode }}" href="" class="playLink"><i class="fas fa-play"></i> Play</a></h2>
    Length: {{ music.duration }}
    <br/>
    Played {{ music.timesPlayed }} times
    <br/>
    Skipped {{ music.timesSkipped }} times
{% endblock %}
